
body
{
    font-family: cursive;
    background-color: #5F9EA0;

  
}

.tswira
{
text-align: center;
}

#t9ashr
{

    

    border : solid;
    border-width: 7px;
    border-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    width : 900px;
    height : 500px;

}
#cartdiv
{
    width:40px;
    height :40px;
   
    border-radius: 30px;
    text-align: center;
    background-image: url('./img/logo.jpg') ;

    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position:  center;
    background-attachment: fixed;
}


#cartcounter
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    width :30px;
    height :30px;
    color: white;
    border-radius: 30px;
    text-align: center;
    background-image: url('./imgt/logo.jpg') ;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position:  center;
    background-attachment: fixed;
    margin-top: 10px;

}


#cart
{
    margin-top: 5px;
    width : 30px;
    height : 30px;
   
}

h5
{
    
    text-align: center;
    color : black;
    border-style: solid;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imgmenu
{

    max-width: 230px;
    height :200px;
    margin: auto;
}

.menu
{
    width : 20%;
    height :5%;

    border : solid;
    border-radius: 3px;
    border-color: darkslategray;
    border-width: 3px;
    text-align: center;
   
    background-color: white;
    margin-bottom: 5%;
   
}
.butt
{
    text-align: center;
}

#buy
{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    border :solid;
    border-radius: 3px;
    border-color: black;
    background-color: black;
    color :white;
    width : 130px;
}

#add
{ 
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    border :solid;
    border-radius: 3px;
    border-color: black;
    background-color: black;
    color :white;
    width : 130px;
}


#divprod
{
    border:solid;
    border-color:black;
    background-color : white;
    width : 50%;
    margin:auto;
    text-align:center ;

}

#imgselected
{
    border :double;
    border-color: black;
}

.navbar
{
    margin-bottom  : 3%;
}

#prep
{
    margin:auto;
    border:solid;
    border-color:black;
    text-align:center;
    width :50%;
    background-color:wheat;
}

#purchased
{
    margin:auto;
    border:solid;
    border-color:black;
   
    width :50%;
    background-color:wheat;
}